cloud_id                 = "123400000000cloud_id"
folder_id                = "12340000000folder_id"
zone                     = "ru-central1-a"
service_account_key_file = "/home/fes/tmp/key.json"
bucket_name              = "fdv-otus"
access_key               = "<service_account_s3_key>"
secret_key               = "<service_account_s3_secret>"
