cloud_id                 = "123400000000cloud_id"
folder_id                = "12340000000folder_id"
zone                     = "ru-central1-a"
image_id                 = "123400000000image_id"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "12340000000subnet_id"
service_account_key_file = "~/.secrets/key.json"
private_key_path         = "~/.ssh/appuser"
app_disk_image           = "123400000disk_app_id"
db_disk_image            = "1234000000disk_db_id"
